/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  /*background-color: #b61924;*/
  background-color : rgb(26, 1, 1);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.loader{
  position : absolute;
  width : 350px;
  height : 20px;
  left : -170px;
  top : 190px;
  border-radius : 4%;
  border : goldenrod 1.5px solid;
  background-color : transparent;
}

.loadcontent{
  position : absolute;
  width : 1%;
  height : 20px;
  background-image : linear-gradient(to bottom right,red,yellow);
}

.container{
  position : absolute;
  background-color : transparent;
  border-radius : 5%;
  top : 50%;
  left : 50%;
  transform : translate(-50,-50);
}

.beed{
  position: absolute;
  width: 20px;
  height : 20px;
  border-radius : 17%;
  background-image : linear-gradient(to bottom right,red,yellow);  
}

/*-------------------s------------------*/

/*
.pos1{
  top : -55px;
  left: 0px;
}

.pos1a{
  top : -15px;
  left: 40px;
}

.pos1b{
  top : 70px;
  left: 40px;
}

.pos1c{
  top : 90px;
}

.pos1d{
  top : 90px;
  /*left : -40px*//*
}

.pos1e{
  top : 30px;
  left : 50px
}


.pos2{
  top : -15px;
  left: -40px;
}


.pos2a{
  top : -70px;
  left: -50px;
}

.pos2b{
  top : -115px;
  left: -40px;
}

.pos2c{
  top : -150px;
}

.pos2d{
  top : -150px;
  /*left : 40px*//*
}
*/

/*-----------------Anime s to k!--------------------*/


.pos1{
  -webkit-animation: move1 5s infinite;
  animation: move1 5s infinite;
  top : 20px;
  left: 30px;
}

@-webkit-keyframes move1 {
  0% {  top : -55px;left: 0px;}
  25% {  top : -55px;left: 0px;}
  50% {  top : 20px;left: 30px;}
  75% {   top : 20px;left: 30px;}
  100% {  top : -55px;left: 0px;}
}


@keyframes move1 {
  0% {  top : -55px;left: 0px;}
  25% {  top : -55px;left: 0px;}
  50% {  top : 20px;left: 30px;}
  75% {   top : 20px;left: 30px;}
  100% {  top : -55px;left: 0px;}
}

.pos1a{
  -webkit-animation: move2 5s infinite;
  animation: move2 5s infinite;
  top : -43px;
  left: -20px;
}


@-webkit-keyframes move2 {
  0% {  top : -15px;left: 40px;}
  25% {  top : -15px;left: 40px;}
  50% {  top : -43px;left: -20px;}
  75% {  top : -43px;left: -20px;}
  100% {  top : -15px;left: 40px;}
}


@keyframes move2 {
  0% {  top : -15px;left: 40px;}
  25% {  top : -15px;left: 40px;}
  50% {  top : -43px;left: -20px;}
  75% {  top : -43px;left: -20px;}
  100% {  top : -15px;left: 40px;}
}

.pos1b{
  -webkit-animation: move3 5s infinite;
  animation: move3 5s infinite;
  top : 20px;
  left: -20px;
}

@-webkit-keyframes move3 {
  0% {top : 70px;left: 40px;}
  25% {top : 70px;left: 40px;}
  50% {top : 20px;left: -20px;}
  75% {top : 20px;left: -20px;}
  100% {top : 70px;left: 40px;}
}


@keyframes move3 {
  0% {top : 70px;left: 40px;}
  25% {top : 70px;left: 40px;}
  50% {top : 20px;left: -20px;}
  75% {top : 20px;left: -20px;}
  100% {top : 70px;left: 40px;}
}

.pos1c{
  -webkit-animation: move4 5s infinite;
  animation: move4 5s infinite;
  top : -15px;
  left : -40px;
}

@-webkit-keyframes move4 {
  0% {top : 90px;left : 0px;}
  25% {top : 90px;left : 0px;}
  50% {left : -40px;top : -15px;}
  75% {left : -40px;top : -15px;}
  100% {top : 90px;left : 0px;}
}


@keyframes move4 {
  0% {top : 90px;left : 0px;}
  25% {top : 90px;left : 0px;}
  50% {left : -40px;top : -15px;}
  75% {left : -40px;top : -15px;}
  100% {top : 90px;left : 0px;}
}

.pos1d{
  -webkit-animation: move5 5s infinite;
  animation: move5 5s infinite;
  top : 20px;
  left : -70px;
}

@-webkit-keyframes move5 {
  0% {top : 90px;left : 0px}
  25% {top : 90px;left : 0px}
  50% {top : 20px;left : -70px;}
  75% {top : 20px;left : -70px;}
  100% {top : 90px;left : 0px}
}


@keyframes move5 {
  0% {top : 90px;left : 0px}
  25% {top : 90px;left : 0px}
  50% {top : 20px;left : -70px;}
  75% {top : 20px;left : -70px;}
  100% {top : 90px;left : 0px}
}

.pos1e{
  -webkit-animation: move6 5s infinite;
  animation: move6 5s infinite;
  top : -15px;
  left : 30px;
}

@-webkit-keyframes move6 {
  0% {top : 30px;left : 50px}
  25% {top : 30px;left : 50px}
  50% {top : -15px;left : 30px}
  75% {top : -15px;left : 30px}
  100% {top : 30px;left : 50px}
}


@keyframes move6 {
  0% {top : 30px;left : 50px}
  25% {top : 30px;left : 50px}
  50% {top : -15px;left : 30px}
  75% {top : -15px;left : 30px}
  100% {top : 30px;left : 50px}
}


.pos2{
  -webkit-animation: move7 5s infinite;
  animation: move7 5s infinite;
  top : -15px;
  left: -70px;
}


@-webkit-keyframes move7 {
  0% {top : -15px;left: -40px;}
  25% {top : -15px;left: -40px;}
  50% {top : -15px;left: -70px;}
  75% {top : -15px;left: -70px;}
  100% {top : -15px;left: -40px;}
}


@keyframes move7 {
  0% {top : -15px;left: -40px;}
  25% {top : -15px;left: -40px;}
  50% {top : -15px;left: -70px;}
  75% {top : -15px;left: -70px;}
  100% {top : -15px;left: -40px;}
}

.pos2a{
  -webkit-animation: move8 5s infinite;
  animation: move8 5s infinite;
  top : -45px;
  left: -70px;
}

@-webkit-keyframes move8 {
  0% {top : -70px;left: -50px;}
  25% {top : -70px;left: -50px;}
  50% {top : -45px;left: -70px;}
  75% {top : -45px;left: -70px;}
  100% {top : -70px;left: -50px;}
}


@keyframes move8 {
  0% {top : -70px;left: -50px;}
  25% {top : -70px;left: -50px;}
  50% {top : -45px;left: -70px;}
  75% {top : -45px;left: -70px;}
  100% {top : -70px;left: -50px;}
}

.pos2b{
  -webkit-animation: move9 5s infinite;
  animation: move9 5s infinite;
  top : -75px;
  left: -70px;
}

@-webkit-keyframes move9 {
  0% {top : -115px;left: -40px;}
  25% {top : -115px;left: -40px;}
  50% {top : -75px;left: -70px;}
  75% {top : -75px;left: -70px;}
  100% {top : -115px;left: -40px;}
}


@keyframes move9 {
  0% {top : -115px;left: -40px;}
  25% {top : -115px;left: -40px;}
  50% {top : -75px;left: -70px;}
  75% {top : -75px;left: -70px;}
  100% {top : -115px;left: -40px;}
}

.pos2c{
  -webkit-animation: move10 5s infinite;
  animation: move10 5s infinite;
  top : -75px;
  left : 30px;
}


@-webkit-keyframes move10 {
  0% {top : -150px;left : 0px;}
  25% {top : -150px;left : 0px;}
  50% {top : -75px;left : 30px;}
  75% {top : -75px;left : 30px;}
  100% {top : -150px;left : 0px;}
}


@keyframes move10 {
  0% {top : -150px;left : 0px;}
  25% {top : -150px;left : 0px;}
  50% {top : -75px;left : 30px;}
  75% {top : -75px;left : 30px;}
  100% {top : -150px;left : 0px;}
}


.pos2d{
  -webkit-animation: move11 5s infinite;
  animation: move11 5s infinite;
  top : -55px;
  left : 30px;
}


@-webkit-keyframes move11 {
  0% {top : -150px;left : 0px}
  25% {top : -150px;left : 0px}
  50% {top : -55px;left : 30px}
  75% {top : -55px;left : 30px}
  100% {top : -150px;left : 0px}
}


@keyframes move11 {
  0% {top : -150px;left : 0px}
  25% {top : -150px;left : 0px}
  50% {top : -55px;left : 30px}
  75% {top : -55px;left : 30px}
  100% {top : -150px;left : 0px}
}

.pos{
  -webkit-animation: move12 5s infinite;
  animation: move12 5s infinite;
  top : -35px;
  left : 30px;
}

@-webkit-keyframes move12 {
  0% {top : 0px;left : 0px}
  25% {top : 0px;left : 0px}
  50% {top : -35px;left : 30px}
  75% {top : -35px;left : 30px}
  100% {top : 0px;left : 0px}
}


@keyframes move12 {
  0% {top : 0px;left : 0px}
  25% {top : 0px;left : 0px}
  50% {top : -35px;left : 30px}
  75% {top : -35px;left : 30px}
  100% {top : 0px;left : 0px}
}


